Explosion RCDATA "Imagens\\Explosion.png"
Flag RCDATA "Imagens\\Flag.png"
Background RCDATA "Imagens\\Background.jpeg"
Mine RCDATA "Imagens\\Mine2.png"
Easy RCDATA "Imagens\\Easy.png"
Hard RCDATA "Imagens\\Hard.png"
Large RCDATA "Imagens\\Large.png"
Medium RCDATA "Imagens\\Medium.png"
Small RCDATA "Imagens\\Small.png"
VeryEasy RCDATA "Imagens\\VeryEasy.png"
VeryHard RCDATA "Imagens\\VeryHard.png"
VeryLarge RCDATA "Imagens\\VeryLarge.png"
VerySmall RCDATA "Imagens\\VerySmall.png"
Numbers RCDATA "Imagens\\Numbers.png"
Simbols RCDATA "Imagens\\Simbols.png"
P38 RCDATA "Imagens\\P38.png"
Airplane1 RCDATA "Sounds\\Airplane1.mp3"
Airplane2 RCDATA "Sounds\\Airplane2.mp3"
bomb RCDATA "Sounds\\bomb.mp3"
Click1 RCDATA "Sounds\\Click1.mp3"
Click2 RCDATA "Sounds\\Click2.mp3"
Click3 RCDATA "Sounds\\Click3.mp3"
StartScreen RCDATA "Sounds\\StartScreen.mp3"
Applause RCDATA "Sounds\\Applause.mp3"
Radar RCDATA "Sounds\\Radar.mp3"
Music1 RCDATA "Sounds\\Music1.mp3"
Music2 RCDATA "Sounds\\Music2.mp3"
Music3 RCDATA "Sounds\\Music3.mp3"
Music4 RCDATA "Sounds\\Music4.mp3"
Music5 RCDATA "Sounds\\Music5.mp3"
Music6 RCDATA "Sounds\\Music6.mp3"
Music7 RCDATA "Sounds\\Music7.mp3"
Music8 RCDATA "Sounds\\Music8.mp3"
Music9 RCDATA "Sounds\\Music9.mp3"
Music10 RCDATA "Sounds\\Music10.mp3"
Music11 RCDATA "Sounds\\Music11.mp3"
Music12 RCDATA "Sounds\\Music12.mp3"
Music13 RCDATA "Sounds\\Music13.mp3"
Music14 RCDATA "Sounds\\Music14.mp3"
Music15 RCDATA "Sounds\\Music15.mp3"

